@model IEnumerable<KandM_Clothes.Models.EF.Post>
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/post" class="nav-link">Bài viết</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý bài viết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Bài viết</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title" style="font-size: 30px;">Danh sách bài viết</h3>

            <div class="card-tools">
                <a href="/admin/post/add" class="btn btn-primary">Thêm mới</a>
                <a href="#" class="btn btn-danger" id="btnDeleteAll">Xóa toàn bộ</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll" /> </th>
                        <th class="text-center" style="width: 5%;">STT</th>
                        <th class="text-center" style="width: 40%;">Hình ảnh</th>
                        <th class="text-center" style="width: 20%;">Tiêu đề</th>
                        <th class="text-center" style="width: 10%">Hiển thị</th>
                        <th class="text-center" style="width: 15%;">Ngày tạo</th>
                        <th class="text-center" style="width: 10%;">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var listModel = Model.ToList();
                        foreach (var item in Model)
                        {
                            var active = item.isActive ? "<a href='#'><i class='fa fa-check text-success'></i></a>" : "<a href='#'><i class='fas fa-times text-danger'></i></a>";
                            <tr id="row_@item.Id">
                                <td><input type="checkbox" class="selectedItem" data-id="@item.Id" /></td>
                                <td class="text-center">@(listModel.IndexOf(item) + 1)</td>
                                <td class="text-center">
                                    <img src="@item.Image" style="max-width: 100%;" />
                                </td>
                                <td>@item.Title</td>
                                <td class="text-center">
                                    <a href="#" data-id="@item.Id" class="btnActive">
                                        <i class='@(item.isActive ? "fa fa-check text-success" : "fas fa-times text-danger")'></i>
                                    </a>
                                </td>
                                <td class="text-center">@item.CreatedDate</td>
                                <td class="text-center">
                                    <a href="/admin/post/edit/@item.Id" class="fas fa-pen" style="color: #f29d38;"></a>
                                    <a href="#" class="fas fa-trash btnDelete" style="color: #EB3223;" data-id="@item.Id"></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on("change", '#selectAll', function () {
                var checkStatus = $(this).prop('checked');
                var checkList = $(".selectedItem");
                checkList.prop('checked', checkStatus);
            })
            $('body').on('click', '#btnDeleteAll', function () {
                var checkList = $(".selectedItem:checked");
                if (checkList.length == 0) {
                    alert("Vui lòng chọn ít nhất 1 bản ghi để xóa");
                    return;
                }
                if (confirm("Bạn có chắc chắn muốn xóa không?")) {
                    var ids = [];
                    checkList.each(function () {
                        ids.push($(this).data("id"));
                    });
                    ids.forEach(function (id) {
                        console.log(id);
                    })
                    $.ajax({
                        url: "/admin/post/DeleteAll",
                        type: "POST",
                        data: { ids: ids },
                        success: function (res) {
                            if (res.success) {
                                ids.forEach(function (id) {
                                    $("#row_" + id).remove();
                                })
                                if ($("tbody tr").length == 0) {
                                    $("tbody").append('<tr><td colspan="4">Không có dữ liệu</td></tr>');
                                }
                            }
                        }
                    })
                }
            })
            $("body").on("click", ".btnDelete", function () {
                var id = $(this).data("id");
                console.log(id);
                if (confirm("Bạn có chắc chắn muốn xóa không?")) {
                    $.ajax({
                        url: "/admin/post/delete",
                        type: "POST",
                        data: { id: id },
                        success: function (res) {
                            if (res.success) {
                                $("#row_" + id).remove();
                                if ($("tbody tr").length == 0) {
                                    $("tbody").append('<tr><td colspan="4">Không có dữ liệu</td></tr>');
                                }
                            }

                        }
                    })
                }
            })
            $("body").on("click", ".btnActive", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                console.log(id);
                $.ajax({
                    url: "/admin/post/isactive",
                    type: "POST",
                    data: { id: id },
                    success: function (res) {
                        if (res.success) {
                            var iconClass = res.active ? "fa fa-check text-success" : "fas fa-times text-danger";
                            $("#row_" + id + " .btnActive i").attr('class', iconClass);
                        }
                    }
                })
            })

        })
    </script>
}
