@model KandM_Clothes.Models.EF.Order
@using KandM_Clothes.Models
@{
    var cart = ViewBag.Cart as ShoppingCart;
}

@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">


<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li class="active"><a href="/gio-hang"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>

                </ul>
            </div>

            <div class="col-md-12 text-center">
                <h1>Thanh toán</h1>
                <p>Vui lòng kiểm tra lịa thông tin đơn hàng!</p>
            </div>
            @if (cart != null && cart.items.Any())
            {
                @*Main content*@
                <div class="row main-content">
                    <div class="col-md-8">
                        <h3>Thông tin khách hàng</h3>
                        @using (Ajax.BeginForm("CheckOut", "ShoppingCart", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "load_data",
                            OnComplete = "CheckOutSuccess()",
                            OnFailure = "CheckOutFailure",
                        }, new { @Id = "myForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="customerName">Họ tên khách hàng:</label>
                                <input type="text" class="form-control" id="CustomerName" name="CustomerName" value="@ViewBag.UserName" required>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Số điện thoại:</label>
                                <input type="text" class="form-control" id="Phone" name="Phone" value="@ViewBag.Phone" required>
                            </div>
                            <div class="form-group">
                                <label for="address">Địa chỉ:</label>
                                <input type="text" class="form-control" id="Address" name="Address" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="Email" name="Email" value="@ViewBag.Email" required>
                                <div id="result"></div>
                            </div>
                            <div class="form-group">
                                <label for="payment">Hình thức thanh toán</label>
                                <select class="form-control" id="TypePayment" name="TypePayment" required>
                                    <option value="1" selected>Thanh toán khi nhận hàng (COD)</option>
                                    <option value="2">Thanh toán qua thẻ</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-block btn-success">Đặt hàng</button>
                        }
                    </div>

                    <div class="col-md-4">
                        <h3>Giỏ hàng</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && cart.items.Any())
                                {
                                    foreach (var item in cart.items)
                                    {
                                        <tr>
                                            <td>@item.Product.Title</td>
                                            <td class="totalProductPrice">@(item.Product.Price * item.Quantity)</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="text-left">Tổng tiền:</td>
                                        <td id="TotalPrice"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning">Không có sản phẩm nào trong giỏ hàng!</div>
            }
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>
        function toggleSpinner(show) {
            var spinner = document.getElementById('spinnerContainer');
            console.log("aksdn");
            spinner.style.display = show ? 'block' : 'none';
            if (show) {
                $('#spinner').show();
                $('#overlay').show();
            } else {
                $('#spinner').hide();
                $('#overlay').hide();
            }
        }

        function CheckOutSuccess(rs) {
            if (rs.success) {
                $('.main-content').empty();

                $('<div>').addClass('col-md-12 alert alert-warning').text('Đặt hàng thành công').appendTo('.main-content');

                showToast('Đặt hàng thành công');
            } else {
                $('.main-content').empty();
                $('<div>').addClass('col-md-12 alert alert-warning').text('Đặt hàng thất bại').appendTo('.main-content');
                $('<div>').addClass('col-md-12 alert alert-warning').text(rs.msg).appendTo('.main-content');
            }
        }



        function CheckOutFailure() {
            location.reload();
        }

        function calculateTotalPrice() {
            var total = 0;
            $("tbody tr").each(function () {
                var totalProductPrice = parseInt($(this).find('.totalProductPrice').text());
                if (isNaN(totalProductPrice)) {
                    totalProductPrice = 0;
                }
                total += totalProductPrice;
            });
            $('#TotalPrice').text(total + ',00');
        }

        $(document).ready(function () {
            calculateTotalPrice();
            $('#myForm').on('submit', function (e) {
                e.preventDefault();
                toggleSpinner(true); // Show the spinner
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (result) {
                        CheckOutSuccess(result);
                        toggleSpinner(false); // Hide the spinner
                        ShowCount();
                    },
                    error: function () {
                        CheckOutFailure();
                        toggleSpinner(false); // Hide the spinner
                        ShowCount();
                    }
                });
            });

            // Initially disable the button
            $('button[type="submit"]').prop('disabled', true);
            $('#myForm').validate({
                rules: {
                    CustomerName: {
                        required: true,
                        minlength: 2
                    },
                    Phone: {
                        required: true,
                        number: true,
                        minlength: 10,
                        maxlength: 11
                    },
                    Address: {
                        required: true,
                        minlength: 5
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    TypePayment: {
                        required: true
                    }
                },
                messages: {
                    CustomerName: {
                        required: "Vui lòng nhập tên của bạn",
                        minlength: "Tên của bạn phải có ít nhất 2 ký tự"
                    },
                    Phone: {
                        required: "Vui lòng nhập số điện thoại của bạn",
                        number: "Vui lòng nhập một số điện thoại hợp lệ",
                        minlength: "Số điện thoại của bạn phải có ít nhất 10 chữ số",
                        maxlength: "Số điện thoại của bạn không được quá 11 chữ số"
                    },
                    Address: {
                        required: "Vui lòng nhập địa chỉ của bạn",
                        minlength: "Địa chỉ của bạn phải có ít nhất 5 ký tự"
                    },
                    Email: {
                        required: "Vui lòng nhập email của bạn",
                        email: "Vui lòng nhập một địa chỉ email hợp lệ"
                    },
                    TypePayment: {
                        required: "Vui lòng chọn hình thức thanh toán"
                    }
                },
                onkeyup: function (element) {
                    $(element).valid(); 
                    if ($('#myForm').valid()) { 
                        $('button[type="submit"]').prop('disabled', false); 
                    } else {
                        $('button[type="submit"]').prop('disabled', true);
                    }
                }
            });
        });
    </script>
}